* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

body {
    background-color: #FFFFFF;
}

li {
    font-size: 14pt;
}

a {
    all: unset;
}

p {
    margin-bottom: 10px;
}

span {
    color: darkgray;
    font-weight: 500;
}